<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.musinsa.pratice.mapper.ProductMapper">

    <select id="findAll" resultType="com.musinsa.pratice.dto.response.ProductDto">
        SELECT
            C.NAME AS CATEGORY_NAME,
            B.NAME AS BRAND,
            P.PRICE,
            P.CATEGORY_ID
        FROM
            TB_PRODUCT P
        JOIN TB_CATEGORY C ON(C.ID = P.CATEGORY_ID)
        JOIN TB_BRAND B ON(B.ID = P.BRAND_ID)
    </select>

    <select id="extremesPrice" resultType="com.musinsa.pratice.dto.response.ExtremesPriceSubDto">
        SELECT
            B.NAME AS BRAND,
            P1.PRICE
        FROM
            TB_PRODUCT P1
            JOIN TB_CATEGORY C ON(C.ID = P1.CATEGORY_ID)
            JOIN TB_BRAND B ON(B.ID = P1.BRAND_ID)
        WHERE
            C.NAME_EN = #{categoryName}
    </select>

    <insert id="register" parameterType="com.musinsa.pratice.dto.request.ProductRequestDto">
        INSERT INTO TB_PRODUCT
        (
            CATEGORY_ID,
            BRAND_ID,
            PRICE
        )
        VALUES
        (
            #{categoryId},
            #{brandId},
            #{price}
        )
    </insert>

    <update id="update" parameterType="com.musinsa.pratice.dto.request.ProductRequestDto">
        UPDATE TB_PRODUCT
        SET
            PRICE = #{price}
        WHERE
            ID = #{id}
    </update>

    <delete id="delete" parameterType="com.musinsa.pratice.dto.request.ProductRequestDto">
        DELETE FROM
            TB_PRODUCT
        WHERE
            ID = #{id}
    </delete>

</mapper>