<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.musinsa.pratice.mapper.ProductMapper">

    <select id="minPriceList" resultType="com.musinsa.pratice.dto.response.ProductDto">
        SELECT
            C.NAME AS CATEGORY_NAME,
            B.NAME AS BRAND,
            P.PRICE
        FROM
        (
            SELECT
                CATEGORY_ID,
                BRAND_ID,
                PRICE,
                ROW_NUMBER() OVER (PARTITION BY CATEGORY_ID ORDER BY PRICE ASC, BRAND_ID DESC) AS RN
            FROM
                TB_PRODUCT
        ) P
        JOIN TB_CATEGORY C ON(C.ID = P.CATEGORY_ID)
        JOIN TB_BRAND B ON(B.ID = P.BRAND_ID)
        WHERE
            P.RN = 1
    </select>

    <select id="minPriceBrandProductList" resultType="com.musinsa.pratice.dto.response.ProductDto">
        SELECT
            C.NAME AS CATEGORY_NAME,
            B.NAME AS BRAND,
            P.PRICE
        FROM
            TB_PRODUCT P
        JOIN TB_CATEGORY C ON(C.ID = P.CATEGORY_ID)
        JOIN TB_BRAND B ON(B.ID = P.BRAND_ID)
        WHERE
            P.BRAND_ID = (
                SELECT
                    BRAND_ID
                FROM (
                    SELECT
                        BRAND_ID,
                        SUM(PRICE) AS TOTAL_PRICE
                    FROM
                        TB_PRODUCT
                    GROUP BY BRAND_ID
                ) AS BRAND_TOTAL
                ORDER BY TOTAL_PRICE
                LIMIT 1
            )
    </select>

    <select id="extremesPrice" resultType="com.musinsa.pratice.dto.response.ExtremesPriceSubDto">
        SELECT
            B.NAME AS BRAND,
            P2.PRICE
        FROM
        (
            SELECT
                C.NAME,
                P1.CATEGORY_ID,
                P1.BRAND_ID,
                P1.PRICE,
                ROW_NUMBER() OVER (PARTITION BY P1.CATEGORY_ID ORDER BY P1.PRICE ASC) AS RN_ASC,
                ROW_NUMBER() OVER (PARTITION BY P1.CATEGORY_ID ORDER BY P1.PRICE DESC) AS RN_DESC
            FROM
                TB_PRODUCT P1
            JOIN TB_CATEGORY C ON(C.ID = P1.CATEGORY_ID)
            WHERE
                C.NAME_EN = #{categoryName}
        ) P2
        JOIN TB_BRAND B ON(B.ID = P2.BRAND_ID)
        WHERE
            RN_ASC = 1 OR RN_DESC = 1
        ORDER BY P2.PRICE
    </select>

    <insert id="register" parameterType="com.musinsa.pratice.dto.request.ProductRequestDto">
        INSERT INTO TB_PRODUCT
        (
            CATEGORY_ID,
            BRAND_ID,
            PRICE
        )
        VALUES
        (
            #{categoryId},
            #{brandId},
            #{price}
        )
    </insert>

    <update id="update" parameterType="com.musinsa.pratice.dto.request.ProductRequestDto">
        UPDATE TB_PRODUCT
        SET
            PRICE = #{price}
        WHERE
            ID = #{id}
    </update>

    <delete id="delete" parameterType="com.musinsa.pratice.dto.request.ProductRequestDto">
        DELETE FROM
            TB_PRODUCT
        WHERE
            ID = #{id}
    </delete>

</mapper>